<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.btcc.web.trade.mapper.TradeSimpleMapper">
    <select id="queryTradeSimpleByDate" resultType="com.btcc.web.trade.entity.TradeSimple" parameterType="java.util.Map">
        <![CDATA[
            select
            dateline as date,
            trade_id AS tradeId,
            user_id as userId
            from
            trade
            where dateline >= unix_timestamp(#{startDate})
            and dateline < unix_timestamp(#{endDate})
            union all
            select
            t.dateline as  date,
            trade_id,
            t1.user_id
            from
            trade t left join `order` t1 on t1.order_id = t.order_id
            where t1.user_id is not null
            and t.dateline >= unix_timestamp(#{startDate})
            and t.dateline < unix_timestamp(#{endDate})
            union all
            select
            t.dateline as  date,
            trade_id,
            t1.user_id
            from
            trade t left join `order_archive` t1 on t1.order_id = t.order_id
            where t1.user_id is not null
            and t.dateline >= unix_timestamp(#{startDate})
            and t.dateline < unix_timestamp(#{endDate})
      ]]>
    </select>


</mapper>