<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.btcc.web.report.website.mapper.WebSiteUserBalanceMapper">
    <insert id="insertWebSiteUserBalance" parameterType="java.util.Map">
        INSERT INTO web_site_user_balance(user_id,cny,type,dateline)
        VALUES
        <foreach collection="list" open=" " separator="," close=" " item="item">
            (#{item.user_id},#{item.cny},#{item.type},unix_timestamp(#{item.dateline}))
        </foreach>
    </insert>
<!--
              user_id not in (
               ${company}
             )
             and
-->
    <select id="queryUserBalance" parameterType="java.util.Map" resultType="java.util.Map">
        select
            count(user_id) as userNum,
            (case when cny = 0 then 0
            when cny > 0 and cny &lt;= 10000 then 1
            when cny > 10000 and cny &lt;= 100000 then 2
            when cny > 100000 and cny &lt;= 500000 then 3
            when cny > 500000 and cny &lt;= 1000000 then 4
            when cny > 1000000 and cny &lt;= 5000000 then 5
            when cny > 5000000 then 6 else -1 end) as `type`
        from
            (select
            user_id,
            sum(cny) as cny
            from
            web_site_user_balance
            where
            user_id &lt;= 948132
            group by user_id ) t

        group by `type`

    </select>

    <delete id="deleteWebSiteUserBalance">
        DELETE
          FROM
            web_site_user_balance
    </delete>

</mapper>